* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
  --Bege-claro:#E4C896;
  --Bege-medio:#D6B47A;
  --Marrom-escuro:#5C3A1A;
  --Marrom-bescuro:#3C2413;
}

body {
  background-color: var(--Bege-claro);
  font-family: "Press Start 2P", system-ui;
}

.container {
  display: flex;
  gap: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.glossario {
  color: var(--Marrom-escuro);
}

.cards {
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.5rem solid var(--Marrom-escuro);
}

.nomes_cards {
  text-align: center;
  font-size: 1.5rem;
}

.nome_card {
  cursor: pointer;
  border-right: 0.5rem solid var(--Marrom-escuro);
  border-bottom: 0.5rem solid var(--Marrom-escuro);
  border-left: 0.5rem solid var(--Marrom-escuro);
  padding: 1rem;
  background-color: var(--Bege-medio);
}



.nome_card:hover {
  text-transform: uppercase;
  background-color: var(--Bege-claro);
}

.carta_imagem {
  cursor: pointer;
  border: solid 0.5rem var(--Marrom-escuro);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--Marrom-escuro);
  height: 350px;
  width: 300px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  transition: transform 0.4s ease;
  transform: rotateY(0deg) translateY(0);
}

.trocando {
  transform: rotateY(180deg);
}

.card_escolhido {
  gap: 1rem;
  padding: 1rem;
}

.card_setas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seta {
  cursor: pointer;
  margin: 1rem;
  border: none;
  color: var(--Marrom-escuro);
  background-color: var(--Bege-claro);
  font-size: 1.5rem;
  cursor: pointer;
}




.descricao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.botao_descricao {
  /* display: none; */
  background-color: var(--Bege-medio);
  min-width: 150px;
  min-height: 50px;
  border-radius: 0.8rem;
  border: solid 3px var(--Marrom-escuro);
  cursor: pointer;
}

.descricao_carta {
  display: none;
  max-width: 400px;
  max-height: 300px;
  font-size: 1rem;
  color: var(--Marrom-escuro);
  background-color: var(--Bege-medio);
  border-radius: 1rem;
  border: solid 6px var(--Marrom-escuro);
  padding: 1rem;
}

@media (max-width: 780px) {
  .glossario {
    gap: 0.1rem;
  }

  .container {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    height: auto;
    gap: 1rem;
  }

  .cards {
    font-size: 1rem;
  }

  .nome_card {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .images_frente {
    padding: 0.5rem;
  }

  .carta_imagem {
    height: 285px;
    width: 250px;
  }




  .card_escolhido {
    padding-top: 1rem;
    padding-bottom: 0;
    padding-right: 0;
  }
}
