* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
  --Bege-claro:#E4C896;
  --Bege-medio:#D6B47A;
  --Marrom-escuro:#5C3A1A;
  --Marrom-bescuro:#3C2413;
}

body {
  background-color: var(--Bege-claro);
  font-family: "Press Start 2P", system-ui;
}

.container {
  display: flex;
  gap: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.glossario {
  color: var(--Marrom-escuro);
}

.cards {
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.5rem solid var(--Marrom-escuro);
}

.nomes_cards {
  text-align: center;
  font-size: 1.5rem;
}

.nome_card {
  cursor: pointer;
  border-right: 0.5rem solid var(--Marrom-escuro);
  border-bottom: 0.5rem solid var(--Marrom-escuro);
  border-left: 0.5rem solid var(--Marrom-escuro);
  padding: 1rem;
  background-color: var(--Bege-medio);
}

.carta_seta {
  display: flex;
  align-items: center;
  justify-content: center;

}

.setas {
  padding: 0.5rem;
}

.nome_card:hover {
  text-transform: uppercase;
  background-color: var(--Bege-claro);
}

.image {
  cursor: pointer;
  border: solid 0.5rem var(--Marrom-escuro);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--Marrom-escuro);
  height: 350px;
  width: 300px;
  perspective: 1000px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: rotateY(0deg) translateY(0);
}

.trocando {
  transform: rotateY(90deg);
  /* transform: translateY(-35px); */
  opacity: 0;
}

.carta_informacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
}

.setas {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--Marrom-escuro);
}

.descricao {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.descricao_carta {
  width: 300px;
  background-color: var(--Bege-medio);
  color: var(--Marrom-escuro);
  border: solid 0.2rem var(--Marrom-escuro);
  border-radius: 0.5rem;
  padding: 1rem 0;
}

.descricao_botao {
  display: none;
}



@media (max-width: 780px) {
  .glossario {
    gap: 0.1rem;
  }

  .container {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 1rem;

  }

  .image {
    height: 250px;
    width: 200px;

  }

  .cards {
    font-size: 1rem;
  }

  .nome_card {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .carta_informacao {
    display: flex;
    flex-direction: column;
  }

  .carta_seta {
    gap: 0.8rem;
  }

  .descricao {
    position: static;
    transform: none;
    font-size: 0.8rem;
    
  }

  .descricao_carta {
    display: none;
    color: var(--Marrom-escuro);
    background-color: var(--Bege-medio);
    border: solid 0.2rem var(--Marrom-escuro);
    padding: 0.5rem 0.1rem;
    border-radius: 0.5rem;
  }

  .descricao_botao {
    display: inline-block;
    color: var(--Marrom-escuro);
    cursor: pointer;
    background-color: var(--Bege-medio);
    border: solid 0.2rem var(--Marrom-escuro);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  



}
